<% content_for :page_title,  "Create a new post" %>

<h1>New Post</h1>

<div class="container-fluid">
<%= simple_form_for @post do |f| %>
  <div class="row">
    <div class="form-group">
      <%= f.input :title, input_html: { class: 'form-control' }, wrapper: false, label_html: { class: 'label' } %>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <%= f.input :content, input_html: { class: 'form-control' }, wrapper: false, label_html: { class: 'label' }  %>
    </div>
  </div>
  <%= f.button :submit, 'Create new post', class: "button" %>
<% end %>
</div>